.navbar-brand {
  font-family: 'Pacifico'
}
.navbar-default {
  background-color: #f5f5f5;
  }
.navbar-default .navbar-brand {
  font-weight: 100;
  font-size: 30px;
}
html,
body {
  height: 100%;
  
}
#warp {
  min-height: 100%;
  height: auto;
  margin: 0 auto -120px;
  padding: 0 0 120px;
}
#footer{
height: 120px;
background-color: #3b3f44;
color: #ffffff;
}
.panel-body{
  box-shadow: 7px 7px 5px #888888;
}

#mypanel{
    margin-left: 200px;
    margin-right:200px;
}
.jumbotron{
  margin-left: 200px;
  margin-right: 200px;

}
h3{
  text-align: center;
  font-family: 'Pacifico'

}
.er{
  font-style: italic;

}